.task-list-wrapper {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	margin-right: 100%;
}

.task-card {
	flex: 1 1 calc(33% - 1rem);
	min-width: 500px;
}

.task-card-content {
	display: flex; 
	justify-content: space-between; 
	align-items: center;
}

.task-completed {
	text-decoration: line-through;
	color: gray;
}

.task-form{
	display: flex; 
	gap: 1rem; 
	margin-bottom: 2rem; 
	margin-top: 1rem;
}